<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <button id="btnBack" class="win-backbutton back" tabindex="-1"></button>
        <button id="btnExpand" class="win-backbutton expand" tabindex="-1"></button>
        <button id="btnSnapHome" class="win-backbutton home" tabindex="-1"></button>
        <h1 id="pageTitle">Task Tracker</h1>
        <div id="skydrive"><progress id="progressSignIn" class="win-ring"></progress><div id="skydrivelogo"></div><div id=skydrivestatus>Connecting</div></div>
    </body>
</html>